<% provide(:title, "Home") %>

    <h1>Fifty Backwards Career Planning App</h1>
    <p>
        This is the home page for the 
        <a href="http://fiftybackwards.com/">Fifty Backwards</a>
        career planning application.
    </p>
